*{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
@font-face {
    font-family: 'Avenir Black';
    src: url(/Font/Avenir\ Black.ttf);
    font-weight: bold;
    font-style: bold;
}
/*Encabezado */
header{
    background-color: #bacccd;
    font-family:'Avenir Black';
    border-color: grey;
    border-style: ridge;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105px;
    width: 100%;
    padding: 5px,10%;
}
.Logo_titulo h1{
    font-family:'Avenir Black';
}
.logo{
    display: flex;
    flex-direction: row;
    align-items:center;
    width: 100%;
    position: relative;
}
h2{
    font-size: 10px; 
}
img{
    width: auto;
    height: 100px;
    padding: 10px;
}
.navegador li{
    height: 10px;
    display: inline-flex;
    justify-content: center;
    padding: 10px;
}
.menu{
    position: absolute;
    margin-top: 70px;
}
.navegador a{
    font-size: 13px;
    color:black;
    text-decoration: none;
    &hover{color: white;
    }
}
.rs{
    display: inline-flex;
    flex-direction: ROW;
    padding: 20px;
}
.rs p{
    font-size: 8px;
    margin-top: 10px;
}
#IG,#FB,#USER{
height: 15px;
width: 15px;
margin-right: 6px;
}
/*MAIN*/
main section{
        background-color: #96B6C5;
        height: 550px;
        width: 95;
        display: flex;
        flex-direction: column;
}
main section .titulo{
    font-family: 'Avenir Black';
    padding: 10px;
    margin-left: 10px;
}
main section p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10px;
}
/*Tarjetas*/
.productos{
    display: flex;  
    justify-content: space-evenly;
    height: 180px;
}
#raza, #royal,#euka,#excell,#excellgato,#premium,#proplan,#catchow{
    border-style: double;
    border-style:groove;
    border-color: grey;
    background-color: white;
    text-align: center;
    height: 180px;
    width: 140px;
    box-shadow: 0 0 5px rgb(104, 104, 104);
    border-radius: 5px;
}

.oferta{
    text-decoration: line-through;
}
/*footer*/

.info{
    display: flex;
    justify-content: space-around;
}
footer{
    background-color: #102C57;
}
footer section p{
    margin-top: 10px;
    font-family: 'Avenir Black';
    font-size: 10px;
    color: whitesmoke;
}
footer section h5{
    font-family: 'Avenir Black';
    font-size: 10px;
    color: whitesmoke;
}
footer section .substitulo{
    text-align: center;
    margin-top: 20px;
    padding: 2px;
}
.mail{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
}
.mailtexto p{
    color: #000000;
}
.boxboton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.espacio{
    padding: 5px;
}
#subemail{
    font-family: "Avenir Black";
    border-radius: 3px;
}
::placeholder{
    font-size: 15px;
}
.submenu{
    display: flex;
    justify-content: center;
}
.subtexto{
    display: flex;
    flex-direction: row;
}
.subtexto a{
    color: black;
    font-size: 11px;
    padding: 9px;
    text-decoration: none;
    font-family: "Avenir Light";
}
ul{
    list-style: none;
}
.tituloprod p{
    margin-top: 3px;
    margin-left: 3px;
    font-size: 20px;
    font-family: "Avenir Black";
}
/*DONDE ENCONTRARNOS HTML*/
.txtmap{
    display: flex;
    align-items: flex-end;
}
.TituloDE{
    font-family: "Avenir Black";
    margin: 9px;
}
.txtTitulo{
    margin: 14px;
    font-family: "Avenir Black";
    color: rgb(14, 12, 12);
}
.txtbox{
    border-style:groove;
    border-color: grey;
    text-align: left;
    margin-left: 5px;
    margin-right: 20px;
    height: 350px;
    box-shadow: 0 0 5px rgb(104, 104, 104);
    border-radius: 5px;
    overflow-y: scroll;
    background-color: white;
}
.txtbox p{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Metropolis-Bold";
}
.Stfe, .riongr, .brc{
    border-style:groove;
    border-left: none;
    border-right: none;
    border-color: grey;
    text-align: left;
    box-shadow: 0 0 5px rgb(104, 104, 104);
    border-radius: 5px;
    background-color: white;
}
/* CONTACTO*/
.TituloC h3 {
    font-family: "Avenir Black", sans-serif;
    font-size: 30px;
    margin: 20px 0 0 20px; /* Alineación mejorada */
}

.contactobox {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    margin: 50px;
}

.boxinfo {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.boxinfo p {
    padding: 5px;
    font-size: 14px;
}

.imgredes {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea los elementos en el centro horizontalmente */
}

.imgredes img{
    size: 5px;
}

.redes {
    display: flex;
    margin: 10px;
    padding: 10px;
    justify-content: center;
}

.redes .text p {
    display: flex;
    justify-content: center;
    padding-top: 10px; /* Reducido para alinear mejor verticalmente */
}
/*Registro*/
.formulario{
    margin: 24px;
    font-family: "Avenir Black";
    display: flex;
    flex-direction: column;
}
.titulor{
    font-size: 30%;
    font-family: "Avenir Black";
    margin-top: 10px;
    margin-left: 10px;
}
form {
    max-width: 200px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 3px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type= "number" ] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: "Avenir Black", sans-serif;
}

button[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-family: "Avenir Black", sans-serif;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}